{% extends 'museum/museumBase.html.twig' %}
{% block title %}Museum Booking | Stats{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-stats-museum-review.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-info-chart.css") }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}

{% block body %}

   <div class="col-12 mt-3 mb-3">
       <div class="c-info-chart col-12 row">
           <div class="c-info-chart__element col-12 text-center m-2">
               <h3>Top information</h3>
           </div>
           <div class="col-4 c-info-chart__element">
               <h5>10 <span>Place in Bulgaria</span></h5>
           </div>
           <div class="col-4 c-info-chart__element">
               <h5>200 <span>Visits this mouth</span></h5>
           </div>
           <div class="col-4 c-info-chart__element">
               <h5>4000 .lv <span>Mouth Profit</span></h5>
           </div>
       </div>
   </div>

    <div class="col-12 justify-content-center row">
        <h3 class="col-12 text-center">Reviews</h3>
        <div class="col-12 row c-stats-museum-review-container">
            {% for review in reviews %}
                <div class="col-12 col-md-6 col-xl-5 c-stats-museum-review">
                   <div class=" c-stats-museum-review__user">
                       <img src="{{asset("images/user-profile-image.jpg") }}" alt="">
                       <div class=" c-stats-museum-review__name">{{ review.tourOperator.Name }} {{ review.tourOperator.FName }}</div>

                   </div>
                    <div class=" c-stats-museum-review__text">{{ review.text }}</div>
                    <div class=" c-stats-museum-review__date">Date: {{ review.date | date("m/d/Y") }}</div>
                    <div class=" c-stats-museum-review__rating">Rating: {{ review.rating }}</div>

                </div>
            {% endfor %}
        </div>

    </div>

    <div class="col-12 container justify-content-center">
        <div class="col-12 text-center m-3"><h2>Most visited days </h2></div>
        <div id="chart_div" style="width: 100%; height: 100%"></div>
    </div>


    <script>
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'People');

            data.addRows([
                [0, 10],   [1, 15],  [2, 25],  [3, 30],  [4, 50]

            ]);

            var options = {
                hAxis: {
                    title: 'Days'
                },
                vAxis: {
                    title: ''
                },
                backgroundColor: '#fff'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }




    </script>
    {% block javascript %}

    {% endblock %}


{% endblock %}
