{% extends 'tour_operator/tourOperatorBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/tourOperator/home/homePageStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-ticket-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-top-museum-suggestion-card.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-fancy-card.css") }}">
{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="col-12 mt-2">
        <h2 class="col-12 text-center">Избрани музеи за вас</h2>
        <div>

        </div>
    </div>
{#    <div class="tickets-container o-flex-container col-12 ">#}
{#        <div class="text"> <h2>Last reserved tickets</h2></div>#}
{#        <div class="tickets-wrapper row col-12 m-0 p-0 justify-content-center">#}

{#               {% for ticket in tickets %}#}

{#                      <div class="col-12 col-md-6 col-xl-5 c-fancy-card m-2 c-fancy-card--with-title">#}
{#                           <div class="c-fancy-card__title">#}
{#                                    <h4>#}
{#                                        <a href="{{ path('tour_operator_museumView', {"id": ticket.schedule.museum.id}) }}">#}

{#                                         {{ ticket.schedule.museum.museumName }}#}
{#                                        </a>#}
{#                                    </h4>#}
{#                           </div>#}
{#                           <div class=" c-fancy-card__user">#}
{#                               <img class="c-fancy-card__image c-fancy-card__image--big" src="{{ asset('images/museums/'~ ticket.schedule.museum.image) }}" alt="">#}
{#                               #}{#                                <div class=" c-fancy-card__name">{{ ticket.schedule.museum.museumName }}</div>#}

{#                           </div>#}
{#                           <div class=" c-fancy-card__text text-left"> Bought tickets: {{ticket.number }} tickets#}
{#                               <br>#}
{#                               Bought Date: {{ ticket.boughtDate| date('d/m/Y') }}#}
{#                               <br>#}
{#                               Reserved Date: {{ ticket.reservedDate| date('d/m/Y') }}#}
{#                               <br>#}
{#                               Hour: {{ ticket.schedule.startTime |date('H:i') }} - {{ ticket.schedule.endTime|date('H:i') }}#}
{#                           </div>#}
{#                           #}{#                            <div class="c-fancy-card__information--left">Reserved Date: {{ ticket.reservedDate| date('d/m/Y') }}</div>#}
{#                           #}{#                            <div class=" c-fancy-card__information--right"></div>#}
{#                           <div class=" text-center c-fancy-card__information">#}
{#                               {% if ticket.reservedDate| date("Y-m-d") > "now"| date("Y-m-d") %}#}
{#                                   <div class="c-fancy-card__button-holder">#}
{#                                       <button class="cancellation-btn " value="{{ ticket.id }}">#}
{#                                           <h6>Cancellation </h6>#}
{#                                       </button>#}
{#                                   </div>#}
{#                               {% else  %}#}
{#                                   {% if ticket.hasCome %}#}
{#                                       <div class="c-fancy-card__check">#}
{#                                           <button><i class="fas fa-check "></i></button>#}
{#                                       </div>#}
{#                                   {% else %}#}
{#                                       <div class="c-fancy-card__missed">#}
{#                                           <button><i class="fas fa-times "></i></button>#}
{#                                       </div>#}
{#                                   {% endif %}#}



{#                               {% endif %}#}
{#                           </div>#}

{#                       </div>#}

{#               {% endfor %}#}
{#        </div>#}
{#    </div>#}
    <hr class="col-4 mx-auto line">
    <div class="top-museum-container">
       <div class="text">
           <h2>Най-посещаваните музеи в България</h2>
       </div>

        {% for museum in topMuseums %}
            <div class="c-top-museum-suggestion-card row col-12 mx-auto ">
                <div class="c-top-museum-suggestion-card__image-holder col-12 col-md-5 col-lg-4">
                <img src="{{ asset('images/museums/'~museum.image) }}" alt="">
                </div>
                <div class="c-top-museum-suggestion-card__information-container col-12 col-md-7 col-lg-8">

                  <div class="col-11">
                      <div class="c-top-museum-suggestion-card__information-container__museumName">
                          <a href="{{ path('tour_operator_show_museum', {"id": museum.id}) }}"> <h3>{{museum.museumName}}</h3></a>
                      </div>
                      <div class="c-top-museum-suggestion-card__information-container__presentation">
                          <h5>{{ museum.additionalInformation }}</h5>
                      </div>
                      <div class="stars">
                           <h5>{{ museum.rating  }}/5</h5>

                      </div>
                  </div>
                </div>

            </div>
        {% endfor %}


    </div>



    <script src="{{ asset("js/pages/tourOperator/home/cancellationAction.js") }}"></script>



{% endblock %}