{% extends 'tour_operator/tourOperatorBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/tourOperator/home/homePageStyle.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="schedules-container">
        <div class="text"> <h4>Най-скоро резервирани билета </h4></div>
        <div class="schedules-wrapper">
            <div class="schedule-container">
                <div class="schedule">
                    <div class="museumImage-holder">
                        <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
                        <h4 class="museumName">Abritus</h4>
                    </div>
                    <div class="date">
                        <h5>12.03.2020</h5>
                    </div>
                    <div class="information">
                        <h5>12:00</h5>

                    </div>
                    <div class="information">
                        <h5>2 Броя билета</h5>

                    </div>
                    <div class="event-holder">
                        <button>
                            <h6>Отмяна на заявката</h6>
                        </button>

                    </div>
                </div>
            </div><div class="schedule-container">
                <div class="schedule">
                    <div class="museumImage-holder">
                        <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
                        <h4 class="museumName">Abritus</h4>
                    </div>
                    <div class="date">
                        <h5>12.03.2020</h5>
                    </div>
                    <div class="information">
                        <h5>12:00</h5>

                    </div>
                    <div class="information">
                        <h5>2 Броя билета</h5>

                    </div>
                    <div class="event-holder">
                        <button>
                            <h6>Отмяна на заявката</h6>
                        </button>

                    </div>
                </div>
            </div><div class="schedule-container">
                <div class="schedule">
                    <div class="museumImage-holder">
                        <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
                        <h4 class="museumName">Abritus</h4>
                    </div>
                    <div class="date">
                        <h5>12.03.2020</h5>
                    </div>
                    <div class="information">
                        <h5>12:00</h5>

                    </div>
                    <div class="information">
                        <h5>2 Броя билета</h5>

                    </div>
                    <div class="event-holder">
                        <button>
                            <h6>Отмяна на заявката</h6>
                        </button>

                    </div>
                </div>
            </div>
             <div class="schedule-container">
                <div class="schedule">
                    <div class="museumImage-holder">
                        <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
                        <h4 class="museumName">Abritus</h4>
                    </div>
                    <div class="date">
                        <h5>12.03.2020</h5>
                    </div>
                    <div class="information">
                        <h5>12:00</h5>

                    </div>
                    <div class="information">
                        <h5>2 Броя билета</h5>

                    </div>
                    <div class="event-holder">
                        <button>
                            <h6>Отмяна на заявката</h6>
                        </button>

                    </div>
                </div>
            </div>


        </div>


    </div>

    <div class="top-museum">

       <div class="text">
           <h4>Top museums in Bulgaria</h4>
       </div>
        <div class="museum">
            <div class="museumImage-holder">
                <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
            </div>
           <div class="museumInformation-container">

               <div class="museumName">
                   <h2>Абритус</h2>
               </div>
               <div class="museumInformation">
                   <h5>Това са останки от стар римски град.</h5>
               </div>
               <div class="stars">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>

               </div>
           </div>

        </div>
      <div class="museum">
            <div class="museumImage-holder">
                <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
            </div>
           <div class="museumInformation-container">

               <div class="museumName">
                   <h2>Абритус</h2>
               </div>
               <div class="museumInformation">
                   <h5>Това са останки от стар римски град.</h5>
               </div>
               <div class="stars">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>

               </div>
           </div>

        </div>
      <div class="museum">
            <div class="museumImage-holder">
                <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
            </div>
           <div class="museumInformation-container">

               <div class="museumName">
                   <h2>Абритус</h2>
               </div>
               <div class="museumInformation">
                   <h5>Това са останки от стар римски град.</h5>
               </div>
               <div class="stars">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>

               </div>
           </div>

        </div>
      <div class="museum">
            <div class="museumImage-holder">
                <img src="{{ asset('images/museum/abritus1.jpg') }}" alt="">
            </div>
           <div class="museumInformation-container">

               <div class="museumName">
                   <h2>Абритус</h2>
               </div>
               <div class="museumInformation">
                   <h5>Това са останки от стар римски град.</h5>
               </div>
               <div class="stars">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>

               </div>
           </div>

        </div>



    </div>






{% endblock %}