{% extends 'museum/museumBase.html.twig' %}
{% block title %}Museum Booking | Stats{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-calendar.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-schedule-visitor-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-visitor-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/museum/tourists/tourists.css") }}">
    <script src="{{ asset("js/components/components-ajax.js") }}"></script>



{% endblock %}

{% block body %}
    <div class="container col-12 row mx-auto justify-content-center">
        <div class="row">
            <div class="calendar col-11 mx-auto mt-2">
                <div>
                    <div class="card-header">
                        <ul>
                            <li id="month" class="text-white text-uppercase text-center">
                            </li>
                            <li id="year" class="text-white text-uppercase text-center">
                            </li>
                        </ul>
                    </div>
                    <table class="table calendar table-bordered  "  id="calendar">
                        <thead>
                        <tr class="weekdays bg-dark">
                            <th scope="col" class="text-white text-center">Пон</th>
                            <th scope="col" class="text-white text-center">Вто</th>
                            <th scope="col" class="text-white text-center">Сря</th>
                            <th scope="col" class="text-white text-center">Чет</th>
                            <th scope="col" class="text-white text-center">Пет</th>
                            <th scope="col" class="text-white text-center">Съб</th>
                            <th scope="col" class="text-white text-center">Нед</th>
                        </tr>
                        </thead>
                        <tbody class="days bg-light" id="calendarDays"></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>

        {#            <br><hr>#}

    </div>

    <div class="col-11 mx-auto m-0 p-0 row justify-content-center touristContainer">
        <h2 class="col-12 text-center p-1 text">Tourist</h2>
        {% set tourists = 0 %}
        {% for schedule in schedules %}
            {% for ticket in schedule.tickets %}
                {% set tourists = tourists + 1 %}
                <div class="col-6 container m-auto tourist-card">
                    <div class="col-12 c-visitor-card row">
                        <div class="col-12 row c-visitor-card__first-page">
                            <div class="col-12 c-visitor-card__hour">
                                <h4>{{ ticket.Schedule.StartTime  }} - {{ ticket.Schedule.EndTime  }}</h4>
                            </div>
                            <div class="c-visitor-card__image-container col-4 ">
                                <img src="{{asset("images/tourOperator/"~ticket.tourOperator.image) }}" alt="">
                            </div>
                            <div class="c-visitor-card__credential col-8">
                                <div class="c-visitor-card__credential__name">
                                    <h4>{{ ticket.tourOperator.Name  }} {{ ticket.tourOperator.FName  }} </h4>
                                </div>
                                <div class="c-visitor-card__credential__booked-tickets">
                                    <h5>Резервирани билета - {{ ticket.Number  }}</h5>

                                </div>

                                <div class="c-visitor-card__credential__visit-rate">
                                    {{ ticket.tourOperator.visitRating }}/5
                                </div>
                            </div>
                        </div>
                        <div class="c-visitor-card__second-page">
                            {% if ticket.hasCome %}
                                <h4>Този потребител посети вашиеят музей </h4>

                            {% else %}
                                <h4>Потребителят посети ли музеят ви </h4>
                                <button class="btn btn-success userHasCome" value="{{ ticket.Id }}">Да</button>
                                <button class="btn btn-danger userHasNotCome" value="{{ ticket.Id }}">Не</button>

                            {% endif %}
                        </div>

                    </div>

                </div>
            {% endfor %}
        {% endfor %}
        {% if tourists == 0 %}
            <h5 class="text-center tourist-card">Today you don't have any tourists</h5>
        {% endif %}
    </div>
    <script src="{{ asset("js/components/components-calendar.js") }}"></script>
    <script src="{{ asset("js/pages/museum/tourists/onDateCalendarClick.js") }}"></script>
    <script src="{{ asset("js/pages/museum/tourists/onDateChangeAction.js") }}"></script>
    <script src="{{ asset("js/components/components-ajax.js") }}"></script>
    <script src="{{ asset('js/pages/museum/homePage/userHasCome.js') }}"></script>
    <script src="{{ asset('js/pages/museum/homePage/userHasNotCome.js') }}"></script>
    {% block javascript %}

    {% endblock %}


{% endblock %}
