{% extends 'tour_operator/tourOperatorBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/museum/particles/navStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/museum/particles/slideshow.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/tourOperator/museum/museumPageStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-tourOperator-museumPage-museumInformation.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-schedule-visitor-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-input.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-tourOperator-museum-feedback-form.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-calendar.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-stats-museum-review.css") }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script src="{{ asset("js/pages/museum/particles/navScript.js") }}"></script>
    <script src="{{ asset("js/particles/slidshow.js") }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}
{% block title %}{% endblock %}

{% block body %}


    <input type="hidden" id="museumId" value="{{ museum.id }}">
    <div class="slider-container pt-5 mt-0 container-color" >
        <div class="slider  ">
            <div class="slider--el slider--el-1 anim-4parts active">
                <div class="slider--el-bg">
                    <div class="part top left"></div>
                    <div class="part top right"></div>
                    <div class="part bot left"></div>
                    <div class="part bot right"></div>
                </div>
                <div class="slider--el-content">

                </div>
            </div>
            <div class="slider--el slider--el-2 anim-9parts">
                <div class="slider--el-bg">
                    <div class="part left-top"></div>
                    <div class="part mid-top"></div>
                    <div class="part right-top"></div>
                    <div class="part left-mid"></div>
                    <div class="part mid-mid"></div>
                    <div class="part right-mid"></div>
                    <div class="part left-bot"></div>
                    <div class="part mid-bot"></div>
                    <div class="part right-bot"></div>
                </div>
                <div class="slider--el-content">

                </div>
            </div>
            <div class="slider--el slider--el-3 anim-5parts">
                <div class="slider--el-bg">
                    <div class="part part-1"></div>
                    <div class="part part-2"></div>
                    <div class="part part-3"></div>
                    <div class="part part-4"></div>
                    <div class="part part-5"></div>
                </div>
                <div class="slider--el-content">

                </div>
            </div>
            <div class="slider--el slider--el-4 anim-3parts">
                <div class="slider--el-bg">
                    <div class="part left"></div>
                    <div class="part mid"></div>
                    <div class="part right"></div>
                </div>
                <div class="slider--el-content">

                </div>
            </div>
            <span class="slider--control left"><i class="fas fa-chevron-left"></i></span>
            <span class="slider--control right"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>


    <div class="o-block-container o-block-container--white c-tourOperator-museumPage-museumInformation">
        {# museum information       #}
        <div class=" c-tourOperator-museumPage-museumInformation__content mt-1">
            <h1 class="c-tourOperator-museumPage-museumInformation__content__museumName">{{museum.museumName}}</h1>
            <h3 class="c-tourOperator-museumPage-museumInformation__content__museumAdditionalInformation">{{ museum.additionalInformation    }}</h3>
        </div>
        <hr class="mx-auto col-2">
        {#   museum most visit hours     #}
        <div class="col-12 container justify-content-center">
            <div class="col-12 text-center m-3"><h2>Most visited hours </h2></div>
            <div id="chart_div" class="mx-auto" style="width: 100%; height: 100%"></div>
        </div>

    </div>

    {#    bought tickets#}
    <div class="col-12 o-block-container o-block-container--white">
        <div class="text-center p-4">
            <h2>Bought tickets for this museum</h2>
        </div>
        <div class="tickets-container row m-0 p-3 justify-content-center  container col-12">
            {% for ticket in tourOperatorTickets %}
                {% set schedule = ticket.schedule %}
                <div class="col-6 col-sm-6 mt-4 col-md-4 col-lg-2  p-0 ">
                    <div class="  c-schedule-visitor-card  col-10">
                        <div class="c-schedule-visitor-card__hour">
                            <h4>{{ ticket.reservedDate|date('d-m-Y')  }}</h4><span>{{ schedule.Day.Name }}</span>
                            <h4>{{ schedule.startTime|date('H:i') }}-{{ schedule.endTime|date('H:i') }}</h4>
                        </div>
                        <div class="c-schedule-visitor-card__max-capacity">
                            <h5> Price: {{ schedule.museum.maxCapacity }}</h5>
                        </div>
                        <div class="c-schedule-visitor-card__max-capacity">
                            {% set ticketsNumber = 0 %}
                            {% for ticket in schedule.tickets %}
                                {% set ticketsNumber = ticketsNumber + ticket.number %}
                            {% endfor %}
                            <h5>Number - {{ ticket.number }}</h5>
                        </div>
                     
                        {% if ticket.hasCome   %}
                            <div class="c-schedule-visitor-card__done">
                                <i class="fas fa-check "> You are gone</i>
                            </div>
                        {% else %}
                            <div class="c-schedule-visitor-card__wait">
                               <i class="fas fa-times">You are not gone</i>
                            </div>
                        {% endif %}

                    </div>

                </div>
            {% endfor %}
        </div>
        
    </div>




    <div class="tickets-wrapper m-0 pb-3 ">
        <div class="col-12 text-center mx-auto pt-4 calendar-upper-title">
            <h2>Chose your reservation date</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="calendar col-12 mt-2">
                    <div>
                        <div class="card-header">
                            <ul>
                                <li id="month" class="text-white text-uppercase text-center">
                                </li>
                                <li id="year" class="text-white text-uppercase text-center">
                                </li>
                            </ul>
                        </div>
                        <table class="table calendar table-bordered  "  id="calendar">
                            <thead>
                            <tr class="weekdays bg-dark">
                                <th scope="col" class="text-white text-center">Mon</th>
                                <th scope="col" class="text-white text-center">Tue</th>
                                <th scope="col" class="text-white text-center">Wed</th>
                                <th scope="col" class="text-white text-center">Thu</th>
                                <th scope="col" class="text-white text-center">Fri</th>
                                <th scope="col" class="text-white text-center">Sat</th>
                                <th scope="col" class="text-white text-center">Sun</th>
                            </tr>
                            </thead>
                            <tbody class="days bg-light" id="calendarDays"></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>

{#            <br><hr>#}

        </div>
        <div class="info m-0  ">
            <h2 class="p-3 schedules-day-text">Today's Tickets</h2>
            <h6>* the reservation deadline is 2 hours before the ticket start time</h6>
            <hr >
        </div>
        <div class="tickets-container ticket-reserve-container row m-0 p-3   col-12 ">
            {% for schedule in schedules %}
                <div class="col-6 c-schedule-visitor-card--container col-sm-6 col-md-4 col-lg-2 row p-0 justify-content-center mt-3 mt-sm-0">
                    <div class="  c-schedule-visitor-card  col-11">
                        <div class="c-schedule-visitor-card__hour">
                            <h4>{{ schedule.startTime|date('H:i') }}-{{ schedule.endTime|date('H:i') }}</h4>
                        </div>
                        <div class="c-schedule-visitor-card__max-capacity">
                            <h5> Price: {{ schedule.museum.maxCapacity }}</h5>
                        </div>
                        <div class="c-schedule-visitor-card__max-capacity">
                            {% set ticketsNumber = 0 %}
                            {% for ticket in schedule.tickets %}
                                {% if ticket.reservedDate == date('now')%}
                                    {% set ticketsNumber = ticketsNumber + ticket.number %}
                                {% endif %}
                            {% endfor %}
                            <h5>Free entry - {{ schedule.museum.maxCapacity - ticketsNumber }}</h5>
                        </div>
                        <div class="c-schedule-visitor-card__max-capacity number" >
                            <input type="number" value="0" min="0" max="{{ schedule.museum.maxCapacity - ticketsNumber }}">
                        </div>
                        {% if "now"|date('H:i') < schedule.endTime|date('H:i')  %}
                            <div class="c-schedule-visitor-card__done">
                                <button value="{{ schedule.id }}" onclick="bookTicket()" class="reserve-ticket-btn">Reserve</button>
                            </div>
                        {% else %}
                            <div class="c-schedule-visitor-card__wait">
                                <button>Time Out  <i class="fas fa-clock ml-1"></i></button>
                            </div>
                        {% endif %}

                    </div>

                </div>
                {% else  %}
                <h4 class="text-center info  c-schedule-visitor-card--container">This museum doesn't have tickets for this day</h4>
            {% endfor %}

        </div>



    </div>
    <div class="o-block-container o-block-container--white">
        <div class="location-container">
            <div class="text p-2 text-center mt-2"> <h2> Where to find museum? </h2></div>
            <div class="location"><div class="gmap_canvas"><iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=abrituscastle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:932px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:932px;}</style></div>

        </div>
    </div>


    <div class="col-12 justify-content-center row o-block-container--white m-0 ">
        <h3 class="col-12 m-0 p-0 justify-content-center container text-center m-3">Reviews</h3>
        <hr class="col-2 mx-auto">

        <div class="col-12 m-0 p-0   row c-stats-museum-review-container">
            {% for review in museumReviews %}
                <div class="col-12 justify-content-center col-md-6 col-xl-6 mt-3 row ">
                 <div class="col-11  m-0 c-stats-museum-review">
                     <div class=" c-stats-museum-review__user">
                         <img src="{{asset("images/tourOperator/"~review.tourOperator.Image) }}" alt="">
                         <div class=" c-stats-museum-review__name"><a href="">{{ review.tourOperator.Name }} {{ review.tourOperator.FName }}</a></div>

                     </div>
                     <div class=" c-stats-museum-review__text">{{ review.text }}</div>
                     <div class=" c-stats-museum-review__date">Date: {{ review.date | date("m/d/Y") }}</div>
                     <div class=" c-stats-museum-review__rating">Rating: {{ review.rating }}</div>

                 </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="o-block-container o-block-container--white">
        <hr class="col-10 mx-asymfouto">
        <div class="text p-2 text-center mt-2">
            <h2> Feedback </h2>
            <h5>* we need your feedback to continue our mission to popularity travel</h5>
            <hr class="col-2 mx-auto">
        </div>
       <div class="c-tourOperator-museum-feedback-form  justify-content-center">
           <textarea placeholder="My opinion about that museum is .... " name="" id="" class=" c-tourOperator-museum-feedback-form__textarea"></textarea>
           <input type="number" min="0" max='5' placeholder="Rating: 5" class="c-tourOperator-museum-feedback-form__rating">
           <input type="hidden" class="museumId" value="{{ museum.id }}">
           <button class="c-button c-tourOperator-museum-feedback-form__sendBtn" >Send review</button>
       </div>
    </div>
    <div id="employee-list">

    </div>
    <script src="{{ asset("js/components/components-calendar.js") }}"></script>

    <script src="{{ asset("js/pages/tourOperator/museumPage/onDateCalendarClick.js") }}"></script>
    <script src="{{ asset("js/pages/tourOperator/museumPage/onDateChangeAction.js") }}"></script>
    <script src="{{ asset("js/components/components-ajax.js") }}"></script>
    <script src="{{ asset("js/pages/tourOperator/museumPage/reservationBtnAction.js") }}"></script>
    <script src="{{ asset("js/pages/tourOperator/museumPage/sendReview.js") }}"></script>

    <script>

        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'People');

            data.addRows([
                [0, 0],   [1, 0],  [2, 0],  [3, 0],  [4, 0],  [5, 0],
                [6, 0],  [7, 0],  [8, 0],  [9, 25],  [10, 20], [11, 25],
                [12, 20], [13, 25], [14, 20], [15, 20], [16, 14], [17, 25],
                [18, 0], [19, 0], [20, 0], [21, 0], [22, 0], [23, 0],
                [24, 0]
            ]);

            var options = {
                hAxis: {
                    title: 'Top hours'
                },
                vAxis: {
                    title: ''
                },
                backgroundColor: '#fff'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }












    </script>







{% endblock %}