{% extends 'museum/museumBase.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("css/06-components/components-schedules-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-settings-profile-image.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-settings-museum-summary-information.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-map.css") }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ asset("css/06-components/components-slider.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/museum/settingsPage/settingsPageStyle.css") }}">
    <script
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
            defer
    ></script>

{% endblock %}

{% block body %}

        <div class="col-12 col-md-12 col-lg-12   justify-content-center row header">
            <div class="slider col-12 m-0 p-0  ">
                {% if images | length == 0%}
                    <div class="slider__no-image">
                        <p class="slider__no-image__text">Нямате снимки</p>
                        <label for="addImage" class="slider__no-image__label" ><i class="fa fa-plus"></i></label>
                        <input type="file" id="addImage" class="slider__no-image__input">
                    </div>
                {% else %}

                    <div class=" slider__slider-container w3-display-container">
                        {% for image in images %}
                            <div class="slider__slides-container__slide mySlides">
                                <img class="" src="{{ asset("images/museums/"~image.path) }}" style="width:100%">
                                <span value="{{ image.id }}"><i class="fas fa-times"></i></span>
                            </div>
                        {% endfor %}
                            <div class="slider__slides-container__slide slider__slides-container__slide--add-image mySlides ">
                            <h3 class="slider__slides-container__slide__text m-0">Нямате снимки</h3>
                            <label class="slider__slides-container__slide__upload-image" for="addImage"><i class="fa fa-plus"></i></label>
                            <input class="slider__slides-container__slide__input" type="file" id="addImage">
                        </div>
                        <button class="w3-button slider-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button slider-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                {% endif %}
                </div>
            {{ form_start(form) }}

            <div class="c-profile-image">
                <label for="form_image" class="c-profile-image__image-container">
                    <img src="{{ asset(userImage) }}" alt="">
                    <div class="c-profile-image__image-container__hover-container">
                        <i class="fas fa-camera c-profile-image__image-container__hover-container__element"></i>
                    </div>

                </label>
                {{ form_widget(form.image, {'attr': {'class': 'c-profile-image__upload'}}) }}

                <h2 class="c-profile-image__museum-name">{{ museum.museumName }}</h2>
            </div>
            {{ form_end(form) }}
            </div>

        </div>
    <hr>
        <div class="col-12 col-md-10 col-lg-12 row p-0 m-0 justify-content-center mt-3 mt-lg-0 ">

            <div class="c-settings-museum-summary-information col-12 col-lg-12">
                <div><h2 class="text-center">Please add additional information about you museum</h2></div>
                <textarea class="form-control additionalInformation"  name="" id=""  value="{{ museum.additionalInformation }}">{{ museum.additionalInformation }}</textarea>

                <div class="col-12 row  p-0 mt-3     justify-content-around">
                    <button disabled="true" class="col-5 btn btn-danger textarea-btn textarea-btn-decline">Отказ</button>
                    <button disabled="true" class="col-5 btn btn-success textarea-btn textarea-btn-update" id="saveAdditionalInformation">Запазване</button>

                </div>
            </div>

        </div>
    <hr class="col-2 mx-auto pt-2">
    <div class="c-map col-12 p-0 justify-content-center">
        <h1 class="m-1 mb-2 pb-2">Museum location </h1>
      <div class="gmap_canvas"><iframe class="col-12 m-0 p-0 " id="gmap_canvas" src="https://maps.google.com/maps?q=abrituscastle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a></div>
        <style>.mapouter{position:relative;text-align:right;}.gmap_canvas {overflow:hidden;background:none!important; width: 100%}</style>

    </div>
    <script src="{{ asset("js/museum/homePage/slideshow.js") }}" ></script>
    <script src="{{ asset("js/components/components-slider.js") }}" ></script>
    <script src="{{ asset("js/components/components-ajax.js") }}" crossorigin="anonymous"></script>

    <script>
        let textareaValue = null;

        $(document).ready( function (){
          textareaValue = $('textarea').val();

        });

        $('textarea').on("keypress", function (){
            $('.textarea-btn').removeAttr("disabled");
            console.log(2)
        });

        $('.textarea-btn-decline').on('click', function (){
           $('textarea').val(textareaValue);
            $('.textarea-btn').attr("disabled", "disabled");

        });



        $('#form_image').on("change", function (){
            $('form').submit();
        });


        $('#saveAdditionalInformation').on('click', function (){
            var addInformation = $('.additionalInformation').val();
            let type = "POST";
            let url = "/museum/additionInformationChange";
            let data = {"additionalInformation": addInformation};

            console.log(ajaxRequest(type, url, data));
            $('.textarea-btn').attr("disabled", "disabled");
            textareaValue = addInformation;
        });

    </script>

    {% block javascript %}

    {% endblock %}


{% endblock %}
