{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("css/06-components/components-visitor-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-schedules-card.css") }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ asset("css/06-components/components-slider.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-schedule-visitor-card.css") }}">

{% endblock %}

{% block body %}

        <div class="col-12 col-md-12 col-lg-12  m-0 p-0 justify-content-center row ">
            <div class="slider col-12 m-0 p-0  ">
                {% if images | length == 0%}
                    <div class="slider__no-image">
                        <p class="slider__no-image__text">Нямате снимки</p>
                        <label for="addImage" class="slider__no-image__label" ><i class="fa fa-plus"></i></label>
                        <input type="file" id="addImage" class="slider__no-image__input">
                    </div>
                {% else %}

                    <div class=" slider__slider-container w3-display-container">
                        {% for image in images %}
                            <div class="slider__slides-container__slide mySlides">
                                <img class="" src="{{ asset("images/museums/"~image.path) }}" style="width:100%">
                                <span value="{{ image.id }}"><i class="fas fa-times"></i></span>
                            </div>
                        {% endfor %}
                        <div class=" mySlides">
                            <p>Нямате снимки</p>
                            <label for="addImage"><i class="fa fa-plus"></i></label>
                            <input type="file" id="addImage">
                        </div>
                        <button class="w3-button slider-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button slider-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>

                {% endif %}




                </div>

            </div>

        </div>






        <div class="col-11 col-md-10 col-lg-7 row p-0 m-0 justify-content-center mt-3 mt-lg-0 ">
            <div class="information-container col-12 col-lg-11">
                <div><h2 class="text-center">Please add additional information about you museum</h2></div>
                <textarea class="form-control" name="" id=""  rows="" placeholder="Please add additional information about your museum..."></textarea>

            </div>
        </div>


    {% block javascript %}
        <script src="{{ asset("js/museum/homePage/slideshow.js") }}" ></script>
        <script src="{{ asset("js/components/components-slider.js") }}" ></script>

    {% endblock %}


{% endblock %}
