{% extends 'tour_operator/tourOperatorBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="{{ asset("css/06-components/components-settings-drive-license-type.css") }}">#}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-settings-profile-image.css") }}">
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}
    <link rel="stylesheet" href="{{ asset("css/pages/tourOperator/settings/settingPageStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-slider.css") }}">
    <script src="{{ asset("js/components/components-ajax.js") }}"></script>

{% endblock %}
{% block title %}Museum Booking | Settings{% endblock %}

{% block body %}
 <div class="col-12 col-md-12 col-lg-12   justify-content-center row header">
            <div class="slider col-12 m-0 p-0  ">
                {% if true %}
                    <div class="slider__slides-container__slide mySlides">
                        <img class="" src="{{ asset("images/tourOperatorCoverImage.jpg") }}" style="width:100%">
                        {# <span value=""><i class="fas fa-times"></i></span> #}
                     </div>
                {% endif %}

                   
                {% if false %}
                <div class="slider__slides-container__slide mySlides">
                    <img class="" src="{{ asset("images/museums/"~image.path) }}" style="width:100%">
                    <span value="{{ image.id }}"><i class="fas fa-times"></i></span>
                </div>
                {% endif %}
            
                
                
                   
            </div>
            {{ form_start(form) }}

            <div class="c-profile-image">
                <label for="form_image" class="c-profile-image__image-container">
                    <img src="{{ asset(userImage) }}" alt="">
                    <div class="c-profile-image__image-container__hover-container">
                        <i class="fas fa-camera c-profile-image__image-container__hover-container__element"></i>
                    </div>

                </label>
                {{ form_widget(form.image, {'attr': {'class': 'c-profile-image__upload'}}) }}

                <h3 class="c-profile-image__museum-name">{{ userFirstName }}</h3>
                <h2 class="c-profile-image__museum-name">{{ userFamilyName }}</h2>
            </div>
            {{ form_end(form) }}
       

</div>

    <div>

    </div>


    <script>



        $('#form_image').on("change", function (){
            $('form').submit();
        });

    </script>
{% endblock %}