{% extends 'base.html.twig' %}
{% block title %} {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {% block navBarLinks %}
        <li><a href="{{ path("museum") }}">Home</a></li>
        <li class="dropdown"><a href="{{ path("museum_schedule") }}" >Schedule </a></li>
        <li><a href="">Stats</a></li>
    {% endblock %}


    {% block footerLinksLinksUp %}
        <li><a href="{{ path("museum") }}">Home</a></li>
        <li class="dropdown"><a href="{{ path("museum_schedule") }}" >Schedule </a></li>
        <li><a href="">Stats</a></li>
    {% endblock %}
    {% block footerLinksLinksDown %}
        <li><a href="{{ path("museum") }}">Home</a></li>
        <li class="dropdown"><a href="{{ path("museum_schedule") }}" >Schedule </a></li>
        <li><a href="">Stats</a></li>
    {% endblock %}



    {% block javascripts %}{% endblock %}

{% endblock %}
